
---
// src/components/PlantillaGlobal.astro
const { titulo, parrafos, imagen, alt, botonTexto } = Astro.props;
---

<div class="plantilla">
    <div class="image">
        <img src={imagen} alt={alt} />
    </div>
    <div class="contenido">
        <div class="nombre">
        <h1>{titulo}</h1>
        </div>
        <div class="info">
        {parrafos.map( (parrafo : string) => <p>{parrafo}</p>)}
        </div>
        <div class="boton">
        <input type="button" value={botonTexto} />
        </div>
    </div>
</div>
<style>
    .plantilla{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin: auto;
        height:100%;
        margin-bottom: 3rem;
        gap:2rem;
        padding: 2rem;
        border-radius: 2rem;
        background: linear-gradient(var(--gray-gradient));
    }
    img{
        padding: 2rem;
        width: 100%;
        height: 50rem;
        border-radius: 1rem;
        
    }
    .contenido{
        display: flex;
        flex-direction: column; /* Elementos en columna */
        justify-content: center;
    }
    .nombre {
    text-align: left; /* Alinear el texto a la izquierda */
    font-size: 3rem;
    font-weight: bold;
    }

    .info {
        margin-top: 1rem;
    }

    .boton {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .boton input{
        background-color: rgb(17, 17, 76);
        border: none;
        padding: .8rem 1.5rem;
        border-radius: 3rem;
        color: white;
        cursor: pointer;
        align-self: center;
    }
    .boton input:hover{
        background-color: white;
        color:blue;
    }
    @media (max-width: 390px )  {
        .plantilla{
            display: flex;
            flex-direction: column;
        }
    }
</style>